.brands-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.brands-table-top > a {
  font-size: 20px;
  margin-bottom: 50px;
}

.brands-table_buttons-row_BT {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.brands-table_buttons-row_BT > button {
  width: 100px;
  height: 100px;
  background-color: black;
  border: none;
  border-radius: 20%;
}

.brands-table_buttons-row_BT > button > img {
  filter: invert(1);
  /* width: 60px;
  height: 35px; */
}

.brands-table_buttons-row > div:first-child > button > img {
  width: 45px;
  height: 30px;
}
.brands-table_buttons-row > div:last-child > button > img {
  width: 45px;
  height: 30px;
}

.brands-table_buttons-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;
}

.brands-table-top {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  text-align: center;
  justify-items: end;
  align-items: start;
}

#jordan > img {
  width: 40px;
  height: 40px;
}

#vans > img {
  height: 50px;
}

#asics > img {
  width: 60px;
  height: 20px;
}

#puma > img {
  width: 65px;
  height: 50px;
}

#nbes > img {
  width: 60px;
}

#nike > img {
  width: 60px;
  height: 30px;
  margin-left: 8px;
  margin-top: 8px;
}
